body{
    font-family: sans-serif;
    width: 100%;
    background-image: url("./assets/background-image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    
}
#cards{
    padding-top: 40px;
    width: 100%;
    

    display: flex;
    align-items: center ;
    justify-content: center;

    gap: 10px;
    

}
.card{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 20px;
    box-sizing: border-box;
}

.card-img{
    width: 80px;
}
.card-name{
    margin: 0;
    font-weight: 700;
}

input{
display: none;
}
input:checked + label {
    background-color: #30a7d7;
}




.title-container-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title-img {
    width: 300px;
}

.subtitle{
    
    font-family: sans-serif;
    font-size: 40px;
   background-color: aliceblue;
   border-radius: 25px;
   height: 60px;
   display: flex;
   align-items: center;
    justify-content:center;

}

.vidas-container{
    width: 100%;
    padding-top: 30px;
    font-size: x-large;
    background-color: aliceblue;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.vidas-container > p {
    display: block;
    }

    .vidas-container > img {
        width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 20px;
    box-sizing: border-box;
        }

        .heart-img{
            width: 100px;
        }

        .pokemon-jugador-vidas-container, .pokemon-rival-vidas-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            min-height: 328px;
        }

        

        .selected-pokemon{
            width: 180px;
        }

        #seleccionar-ataque{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #victorias-container{
            height: 100px;
            width: 100%;
            background-color: aliceblue;
        border-radius: 20px;
        margin-bottom: 20px;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        }

        .victorias-title {
            color: black;
            font-size: 60px;
            
        }
        .div-victorias-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding-bottom: 40px;
            
        }
        .pokemon-jugador-victorias-container, .pokemon-rival-victorias-container{
            width: 367px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #pokemon-jugador, #pokemon-rival {
            font-weight: 700;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .victory-icon{
            width: 50px;
        }
        .atack-selection{
            text-align: center;
            font-weight: 700;
        }

.ataques-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    padding: 0px;
    border: 0px;
    
    color: aliceblue;
   
    font-weight: 800;
    
    
    
    
}

.ataques-container > button{
    border-radius: 20px;
    padding: 20px 40px;
 border: 0;
    
    color: #020202;
    
   
    font-weight: 800;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
}

.attack-icon{
    width: 40px;
}

.attack-name {
    font-weight: bold;
    color: rgb(0, 174, 255); /* Cambia el color según tus preferencias */
    font-weight: 800;
    font-size: 30px;
}

#seleccionar-pokemon-jugador{
    border-radius: 20px;
    padding: 10px 20px;
    border: 0px;
    background-color: #30a7d7;
    color: aliceblue;
    width: 200px;
    font-weight: 800;
    margin-top: 40px;
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, -50%);
}

#reiniciar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#jugar-nuevamente{
    background-color: #ee6b2f;
    border-radius: 20px;
    padding: 10px 20px;
    border: 0px;
    
    color: aliceblue;
    
    font-weight: 800;
    margin: 70px 0 ;
    
   
}

.pokemon-seleccionado{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 20px;
    box-sizing: border-box;
}


/* Estilos para el modal */
.modal {
    display: none; /* Por defecto, el modal está oculto */
    position: fixed; /* Posición fija para cubrir toda la pantalla */
    z-index: 1; /* Ubicar el modal por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Permite hacer scroll si el contenido es demasiado grande */
    background-color: rgba(0,0,0,0.5); /* Fondo oscuro semi-transparente */
    
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: aliceblue; /* Fondo del contenido */
    margin: 15% auto; /* Margen superior e inferior y centrado horizontalmente */
    padding: 40px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido */
    border-radius: 20px;
  }

  #modal-message{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:700;
    font-size: 25px;
    font-weight: 800;
    
  }

  #modal-message-result{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    
    margin-top: 40px;

  }

  .modal-message-result-ganaste{
    background-color: rgb(57, 255, 47)
  }

  .modal-message-result-perdiste{
    background-color: rgba(255, 0, 0, 0.8)
  }
  .modal-message-result-empate{
    background-color: rgb(255, 238, 0)
  }
  
  /* Botón para cerrar el modal */
  #closeModal {
    float:right; /* Botón alineado a la derecha */
    border-radius: 20px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    border: 0px;
    

  }

  .final-message-ganaste{
    background-color: aliceblue;
    font-size: 55px;
    
    color: #2699d7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 25px;
    height: 150px;
    font-weight: 700;
    
  }

  .final-message-perdiste{
    background-color: aliceblue;
    font-size: 55px;
    
    color: #d74f30;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 25px;
    height: 150px;

  }
  
  

@media only screen and (max-width: 768px){

    #cards{
        flex-direction: column;
    }
    .selected-pokemon{
        width: 80px;
    }

    .heart-img{
        width: 30px;
    }

    p {
        font-size: 12px;
        text-align: center;
    }

   
}